*{
    margin: 0px;
    padding: 0px;
}

.text-hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
    min-width: 30vw;
    min-height: 60vh;
}
.text-sub-container{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.btn-add,.btn-view{
    background-color: rgb(0, 0, 0);
    border: border-box;
    border-radius: 5px;
    color: white;
    width: 30vw;
}
.text-adder-form{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}